.paginationContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 0.5rem;
}
.paginationContainer li{
    display: block;
    min-width: 2rem;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    border: 2px solid rgb(155, 117, 117);
    border-radius: 15%;
}
.paginationContainer li:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.Nnumb0.short, .Pnumb0.short, .Nnumb0.mid, .Pnumb0.mid, .Nnumb0.long, .Pnumb0.long,
.Nnumb1.mid, .Pnumb1.mid, .Nnumb1.long, .Pnumb1.long,
.Nnumb2.long, .Pnumb2.long{
    visibility: hidden;
}
.paginationContainer li a {
    color: white;
    text-decoration: none; /* Удаление подчеркивания */
}
.paginationContainer li a:hover {
    color: black;
    
}