.BigBody{
    width: 100vw;
    height: 150vh;
    background-color: black;
}
.scroll, .noScroll{
    height: 100vh;
    width: 100vw;
    transition: background-color 0.5s;
    transition-delay: 2s;
}
.scroll{
    background-color: blue;
}
.noScroll{
    background-color: brown;
}