.stopWindow{
    height: 100vh;
    position: absolute;
    background-image: url("./../../../../Resources/Images/NovikovPhon2.0.jpeg");
}
.stopWindow.Closed{
    width: 15%;
    transition: width 2s ease;
    z-index: 1;
}
.stopWindow.Opened{
    width: 100%;
    transition: width 2s ease;
    z-index: 2;
}
.stopWindow.CLosed:hover{
    width: 20%;
}
.stopWindow:hover .buttonWindow {
    visibility: visible;
}
.buttonWindow {
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    left:50%
}