.stopWindow{
    height: 100vh;
    position: absolute;
    background-size: cover; 
    transition: width 1.2s ease, z-index 0s ease;
}
.stopWindow.Closed{
    width: 15%;
    z-index: 1;
    transition-delay: 0s, 1.2s;
}
.stopWindow.Opened{
    width: 100%;
    z-index: 2;
    transition-delay: 0s, 0s;
}
.stopWindow.Closed:hover{
    width: 20%;
}
.stopWindow:hover .buttonWindow {
    visibility: visible;
}
.buttonWindow {
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    left: 50%;
}
