.txtContnoCarousel, .txtContrightText, .txtContleftText{
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform  0.3s;
    transform: translateX(0);
    transform: translateY(0);
}
.txtContnoCarousel.Hidden{
  transform: translateY(-100%);
}
.txtContrightText.Hidden{
  transform: translateX(100%);
}
.txtContleftText.Hidden{
  transform: translateX(-100%);
}
.txtContTxt{
    width: 80%;
    height: 86%;
}
.txtHeader{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  display: flex;
}
.txtContCont{
    display: flex;
    height: 85%;
    flex-wrap: wrap;
    font-size: 90px;
    word-break: keep-all;
    overflow-y: auto;
    line-height: 2;
    scrollbar-width: thin; /* Устанавливаем тонкость полосы прокрутки (только для Firefox) */
    scrollbar-color: #1d1313 #000000;
    padding-right: 10px;
    -webkit-mask-image: linear-gradient(to top, transparent, black 40%);
    mask-image: linear-gradient(to top, transparent, black 40%);
}
.Hashtag{
    width: 90%;
    margin-left: 4%;
    margin-top: 14%;
    font-size: 14px;
    color: aqua;
    align-self: self-start;
}
.txtContCont::-webkit-scrollbar {
  width: 12px;
}

.txtContCont::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.txtContCont::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.txtContCont::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
