.txtCont, .txtContHidden{
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform  0.5s;
}
.txtCont{
  transform: scale(1);
}
.txtContHidden{
  transform: scale(0);
}
.txtContTxt{
    width: 80%;
    height: 88%;
}
.txtHeader{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  display: flex;
}
.txtContCont{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    word-break: keep-all;
    line-height: 2;
}
.Hashtag{
    width: 90%;
    margin-left: 4%;
    margin-top: 8%;
    font-size: 14px;
    color: aqua;
    align-self: self-start;
}
