.txtCont{
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.txtContTxt{
    width: 80%;
    background-color: aqua;
    height: 88%;
}
.txtHeader{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  display: flex;
}
.txtContCont{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    word-break: keep-all;
}
.Hashtag{
    width: 90%;
    margin-left: 4%;
    margin-top: 1%;
    font-size: 14px;
    color: aqua;
    align-self: self-start;
}
.BackButton{
    margin-top: 3%;
    border-radius: 25%;
    height: 4.8889%;
    width: 16.28125%;
    background-color: rgba(50, 60, 70, 0.2);
}
.rounded-button {
    position: relative;
    display: inline-block;
    color: rgb(247, 246, 246);
    font-size: 1.3vh;
    border: none;
    border-radius: 1.85vh;
    overflow: hidden;
    border: 0.185vh solid #9aa7b4;
  }
  
  .left-semicircle,
  .right-semicircle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #8693a0;
  }
  
  .left-semicircle {
    left: -20px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .right-semicircle {
    right: -20px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .button-content {
    position: relative; 
    z-index: 1;
    
  }
  .BackButton:hover {
    background-color: rgba(0, 123, 255, 0.2); /* подсветка при наведении */
    cursor: pointer;
  }