.LongWayContainer{
    width: 100%;
    height: 5000vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.LongWayContainer.Dirt{
background-image: url("./../../../Resources/Images/PhonZemlya.jpg");
}
.LongWayContainer.Half{
    background-image: url("./../../../Resources/Images/PhonKamen.jpg");
}
.LongWayContainer.Hell{
  background-image: url("./../../../Resources/Images/PhonLava.jpg");
}
.PhraseContainer  span{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.PhraseContainer{
    display: flex;
    flex-direction: column;
}
.PhraseContainer  button{
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: 0px;
    padding: 0;
}