.content-wrapper{
    width:100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background-color: #18034e;
}
.aufPhrasePost{
  width: 85.75%;
  background-color: rgb(0, 0, 0);
  height: 100px;
  margin-left: auto;
  margin-right: 9.25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./../../Resources/Images/AufPhon.jpg');
  margin-bottom: 0.5%;
  box-shadow: 0 0 80px rgba(0, 0, 0, 1);
}
#Auf1{
background-position: 0% 30%;
}
#Auf2{
  background-position: 0% 40%;
}
#Auf3{
  background-position: 0% 50%;
}
#Auf4{
  background-position: 1000% 60%;
}
#Auf5{
  background-position: 0% 70%;
}
#Auf8{
  background-position: 0% 80%;
}
.contentPost{
margin-left: auto;
margin-right: 9.25%;
width: 85.75%;
 overflow: hidden;
 height: auto;
 position: relative;
 z-index: 1;
 margin-bottom: 0.5%;
 box-shadow: 0 20px 100px rgb(0, 0, 0);
}
.Filler{
  height: 78vh;
  width: 85.75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 9.25%;
  margin-bottom: 0.5%;
  box-shadow: 0 20px 100px rgba(0, 0, 0);
}
.rightText, .noCarousel, .leftText{
    position: absolute;
    height: 100%;
    max-width: 23.1vw;
    width: 30%;
    top:0;
    z-index: 2;
}
.noPost{
  height: 0px;
}
.rightText{
  right: 0%;
}
.leftText{
  left: 0%;
}
.noCarousel{
  right: 35%;
}
.BackButton{
    position: absolute;
    bottom: 13%;
    left: 43%;
    border-radius: 25%;
    height: 3.91112%;
    width: 18.28125%;
    background-color: rgba(50, 60, 70, 0.2);
    opacity: 1;
}
.noButton{
  visibility: hidden;
}
.rounded-button {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    border-radius: 1.85vh;
    overflow: hidden;
    border: 2px solid #9aa7b4;
  }
  
  .left-semicircle,
  .right-semicircle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #8693a0;
  }
  
  .left-semicircle {
    left: -20px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .right-semicircle {
    right: -20px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .button-content {
    position: relative; 
    z-index: 1;
    font-size: 12px;
  }
  .BackButton:hover {
    background-color: rgba(0, 123, 255, 0.2); /* подсветка при наведении */
    cursor: pointer;
  }

