.content-wrapper{
    max-width: 1478.4px;
    width:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contentPost{
 height: auto;
 max-height: 720px;
 position: relative;
 z-index: 1;
}
.rightText{
    position: absolute;
    height: 100%;
    width: 30%;
    top:0;
    right:3%;
    z-index: 2;
}
.BackButton{
    position: absolute;
    bottom: 17%;
    left: 43%;
    border-radius: 25%;
    height: 4.8889%;
    width: 18.28125%;
    background-color: rgba(50, 60, 70, 0.2);
    opacity: 1;
}
.rounded-button {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.3vh;
    border: none;
    border-radius: 1.85vh;
    overflow: hidden;
    border: 0.185vh solid #9aa7b4;
  }
  
  .left-semicircle,
  .right-semicircle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #8693a0;
  }
  
  .left-semicircle {
    left: -20px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .right-semicircle {
    right: -20px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .button-content {
    position: relative; 
    z-index: 1;
    
  }
  .BackButton:hover {
    background-color: rgba(0, 123, 255, 0.2); /* подсветка при наведении */
    cursor: pointer;
  }

