.content-wrapper{
    max-width: 1478.4px;
    width:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contentPost{
 height: auto;
 max-height: 720px;
 position: relative;
}
.rightText{
    position: absolute;
    height: 100%;
    width: 35%;
    top:0;
    right:3%;
}
